<div class="container" id="container">
    <div class="note-block" *ngFor="let item of notes" id={{item.id}}>
      <div class="note-title">{{item.noteTitle}}</div>
      <div class="note-text">{{item.noteText}}</div>
      <div class="note-date">{{item.noteCreateTime + "  " + item.noteCreateDate}}</div>
      <button class="note-delete" (click)="onDeleteNote(item)" [disabled]="getOnEdit()">Delete Note</button>
      <button class="note-change" (click)="onChangeNote(item.id)">Change Note</button>
    </div>
  </div>