<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <title>Document</title>
</head>
<body>
  <app-note-form [note]="MyNotesService.noteToChange" (ChangeNote)="onChangeNote($event)" (CreateNote)="onCreateNote($event)"></app-note-form>
  <app-note-elements [notes]="MyNotesService.notes" (DeleteNote)="onDeleteNote($event)" ></app-note-elements>
</body>
</html>

<!-- (CreateNote)="onCreateNote($event)" (UpdateNote)="onUpdateNote($event)" -->
<!-- (ChangeNote)="changeNote($event)" (DeleteNote)="onDeleteNote($event)" -->